# For backend
Discord__ClientId=YOUR_DISCORD_CLIENT_ID
Discord__ClientSecret=YOUR_DISCORD_CLIENT_SECRET
ConnectionStrings__DefaultConnection=YOURHOST,YOURDATABASE,YOURUSERNAME,YOURPASSWORD
# Rest
VITE_DISCORD_CLIENT_ID=YOUR_DISCORD_CLIENT_ID
VITE_C_SERVER=http://localhost:5154
VITE_LOGIN_API=/auth/discord/login
DISCORD_CLIENT_ID=id
DISCORD_CLIENT_SECRET=secret