# Docker-compose variables
Discord__ClientId=DISCORD_CLIENT_ID
Discord__ClientSecret=DISCORD_CLIENT_SECRET

# C# APIS
VITE_LOGIN_API=/auth/discord/login
ASPNETCORE_ENVIRONMENT=Development
VITE_BASE_API=http://localhost:5154
ConnectionStrings__DefaultConnection=Host=postgres;Database=database;Username=postgres;Password=password

#   DB - dissa må samsvare med ConnectionString over
POSTGRES_USER=postgres
POSTGRES_DB=database
POSTGRES_PASSWORD=password

# Default passord er det som blir brukt på localhost:8080 (pgAdmin dashboard)
PGADMIN_DEFAULT_PASSWORD=default_password
PGADMIN_DEFAULT_EMAIL=email@email.com

# Må også settes her
PGADMIN_PASSWORD=default_password
PGADMIN_EMAIL=email@email.com

# Resend email service
RESEND_API_KEY=your_resend_api_key_here