//  Colors for the web application
@forward './alerts'
@forward './file-colors'

// Color Theme Swatches
$GET-orange: rgb(242, 92, 5) // Main, CTA, logo
$deep-charcoal: rgb(26, 26, 26) // Headlines & high contrast texts.
$tech-grey: rgb(61, 61, 61) // Icons / text
$soft-slate: rgb(229, 229, 229)
$electric-blue: rgb(0, 123, 255) // Links ->

// Social media Color
$discord-blurple : rgb(88, 101, 242)

$button-disabled: rgb(160, 160, 160)