//  Importing Sass files for the main styles
@use './utils/mixins' as mix
@use './colors/colors' as color

// Views
//  Utilities and Components
@forward './utils/misc'
@forward './utils/flexbox'
@forward './media/images'
@forward './utils/buttons'

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css")

*, *::before,
*::after    
    margin: 0   
    box-sizing: border-box
    writing-mode: horizontal-tb

body

    h1, h2, h3, h4, h5, h6
        color: color.$deep-charcoal

    section, article, p
        b
            font-weight: bold
            color: color.$deep-charcoal
    p

        font-size: 1em
        color: color.$tech-grey

        
    
    a
        color: color.$electric-blue

    @include mix.text-wrap-safe()

    
