@use '../colors/alerts.sass' as alert

$minor:( 'font-size' : 1.1em, 'color': alert.$warning-minor)
$moderate:( 'font-size' : 1.1em, 'color': alert.$warning-moderate)
$critical:( 'font-size' : 1.1em, 'color': alert.$warning-critical)

$alerts:('critical': $critical, 'moderate': $moderate, 'minor': $minor)